<#@ template language="C#" #>
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;

namespace <#= NameSpace #>
{
    /// <summary>
    /// 
    /// </summary>
    public class <#= ClassName #>
    {
<# 
foreach (var item in Columns)
{
    string _type = GetCLRType(item.user_type);
#>
		public <#= _type #> <#= item.name #> { get; set; }
<#} #>
    }
}